.app {
  text-align: center;
}

.heading-container {
  background-image: url(./Images/Background-right.png);

}

.app-header {
  background-image: url(./Images/music-waves.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 250px;
}

.heading {
  margin-bottom: 65px;
}

.contents {
  display: flex;
  width: 90%;
  margin: auto;
}

.search-section {
  display: inline-block;
  flex: 50%;
}

.search-results-heading {
  margin-right: 10%;
}


.Playlist-section {
  display: inline-block;
  flex: 50%;
}

.playlist-name {
  margin-top: 20px; 
  margin-bottom: 20px;
}

.playlist-name-input {
  align-self: center;
  height: 30px;
  width: 200px;
  border: none;
  border-bottom: 0.5px solid #ccc;
  padding: 5px;
  font-size: 1.6em;
}

.save-button {
  border-radius: 10px;
  height: 45px;
  width: 90px;
  margin-top: 20px;
  background-color: #DDA0DD;
  padding: 5px;
}


.refresh_login {
  border-radius: 10px;
  height: 45px;
  width: 90px;
  margin-top: 600px;
}
